
// ===============
// FIRST FOOTER 
// ===============

.footerInfoContactContainer {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 35px 0;
    .footerSection {
        width: 35%;
        margin: 10px;

        .sectionTitle {
            margin: 0;
            text-align: left;
        }

        

        .connectContainer {
            p {
                margin-top: -15px;
            }
        }

        .footerSocial {
            margin-top: 25px;
        }

        a {
            color: black;
        }

        i {
            padding: 10px;
            font-size: 1.5rem;
            border: 1px solid black;
            border-radius: 50%;
            box-shadow: 2px 2px;
            margin-right: 10px;
            &:hover {
            color: $hightlightColour;
            border: 1px solid $hightlightColour;
            transition: all 400ms ease-in-out;
            }
        }
    }
}

// ===============
// CONTACT
// ===============

label, input {
    display: block;
}

label {
    // border-bottom: 1px solid $hightlightColour;
    // border-top: 1px solid $hightlightColour;
    color: $hightlightColour;
}


input {
    width: 100%;
    height: 30px;
    background-color: lightgrey;
    border: none;
    border-bottom: 1px solid rgba(205,92,92,0.5);
    margin: 5px 0;
    padding: 2px 5px;
    // border-radius: 25px;

}

textarea {
    width: 100%;
    background-color: lightgrey;
    border: none;
    border-bottom: 1px solid rgba(205,92,92,0.5);
    margin: 5px 0;
    padding: 2px 5px;
    // border-radius: 10px 25px;
}

input[type=submit] {
    // width: 75%;
    width: 150px;
    border: 1px solid $hightlightColour;
    padding: 0;
    color: $hightlightColour;
    &:hover {
        background-color: $hightlightColour;
        color: white;
        transition: all 400ms ease-in-out;

    }
}

// ===============
// SECOND FOOTER 
// ===============

.secondFooterContainer {
    text-align: center;
    padding: 1px;
    background-color: darkgrey;
}


// ===============
// RESPONSIVE
// ===============

@media (max-width: 600px) {
    .footerInfoContactContainer {
        flex-direction: column;
        .footerSection {
            width: 75%;
            margin: 15px auto;
            i {
                margin-right: 5px;
            }
        }
    }
}