//add particle js to this!

// COLOURS 
// http://colours.neilorangepeel.com/
// rosybrown
// indianred


.headerBackground {
    background-color: lightgrey;
    height: 50vh;
    padding: 1px;
    z-index: -10;
}

canvas {
    margin-top: -70px;
    // height: 60vh;
    // width: 100vh;
    // background-color: lightgrey;
    // z-index: -9px;
}

// ==============
// NAVIGATION
// ==============

.headerNav {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    .fa-bars {
        display: none;
    }
    li {
        margin: 10px;
        padding: 0px 10px;
    }
}

.headerNav {
    // z-index: 10;
    a {
        color: rgb(0, 0, 0);
        text-align: center;
    }

    a:hover, a:active {
        // letter-spacing: 5px;
        transition: all 350ms ease-in-out;
        color: rgb(205,92,92);

    }

    a:after, a:before {
        // backface-visibility: hidden;
        visibility: hidden;
        border: 1px solid rgb(0, 0, 0);
        bottom: 0px;
        content: "";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0px;
        // display: none;
    }

    a:hover::after, a:hover::before {
        // backface-visibility: hidden;
        visibility: visible;
        border-color: rgb(205,92,92);
        transition: width 350ms ease-in-out;
        width: 100%;
    }

    a:hover::before {
        bottom: auto;
        top: 0;
        width: 100%;
    }
}

// ==============
// HEADER PIC AND SOCIAL
// ==============

.headerInfoContainer {
    text-align: center;
    display: block;
    margin-top: -210px;

    .headerPic {
        position: relative;
    }

    img {
        // width: 20%;
        border: 4px solid black;
        border-radius: 50%;
        position: relative;
    }

    i {
        border: 1px solid black;
        border-radius: 50%;
        padding: 10px;
        margin: 10px;   
        position: absolute;
        box-shadow: 2px 2px;
        &:hover {
            color: $hightlightColour;
            border: 1px solid $hightlightColour;
            transition: all 400ms ease-in-out;
        }
    }

    a {
        position: absolute;
        color: rgb(0, 0, 0)
        // bottom: 0;
        // margin: 0 auto;
        // text-align: center;
    }
}

.headerInfoContainer {

    a .fa-instagram {
        top: 296px;
        right: 184px;
    }

    a .fa-twitter{
        top: 298px;
        right: 75px;
    }
    
    a .fa-github-alt {
        top: 305px;
        right: 129px;
    }

    a .fa-linkedin-in {
        top: 275px;
        right: 229px;
    }

    a .fa-medium-m {
        top: 278px;
        right: 29px;
    }
}

// ==============
// RESPONSIVE
// ==============

@media (max-width: 575px) {
    .headerNavContainer {
        display: none;
    } 
}

