// ===============
// ABOUT, PORTFOLIO, SKILLS
// ===============

// ===============
// ABOUT
// ===============



.aboutPicInfoContainer {

    display: flex;
    justify-content: center;
    .aboutPic {
        margin-right: 5px;
        margin-top:25px;
    }

    .aboutInfo {
        width: 45%;
        padding: 5px;
        button {
            width: 125px;
            height: 30px;
            margin-bottom: 5px;
        }
    }
}
// ===============
// PORTFOLIO
// ===============

.portfolioContainer {
    clear: both;

    .sectionTitle {
        width: 100%;
    }

    .projectCalc {
        margin-top: 5px;
    }
}

.projectCalc, .projectRobo, .projectRupaul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {

    background-color: rgba(211,211,211, 0.19);
    margin: 40px auto;
    width: 80%;
    padding: 25px 0;
    img {
        width: 30%;
        height: 30%;
    }

    .portfolioInfo {
        width: 45%;
        margin-left: 10px;
        h3, h4, p {
            margin: 5px 0;
        }
    }

    .portfolioRight {
        text-align: right;
        margin-right: 10px;
    }

    .portfolioTool {
        border-top: 1px solid $hightlightColour;
        border-bottom: 1px solid $hightlightColour;
        padding: 5px;
        display: inline-block;
        margin: 0;
    }
}

// ===============
// SKILLS
// ===============

.skillsContainer {
    width: 100%;
    margin: 0 auto;
    .skills {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        width: 50%;
        // width: 550px;
        margin: 20px auto;
    }
}


.eachSkill {
    // width: 50%;
    // height: 50%;
    // margin: 10px;
    padding: 25px;
    // padding: 10px 10px 5px 10px;
    filter: grayscale(100%);
    &:hover {
        filter: grayscale(0%); 
    }

    i {
        font-size: 8rem;
    }

    img {
        width: 49%;
    }

}

// .firebaseLogo {
//     // display: inline-block;

//     width: 50%;

// }

// ==============
// RESPONSIVE
// ==============

@media (max-width: 800px){
    .projectRupaul, .projectCalc {
        flex-direction: column-reverse;
    }

    .projectRobo {
        flex-direction: column;
    }

    .portfolio {
        img {
            width: 45%;
        }

        .portfolioInfo {
            text-align: center;
            width: 75%;
        }
    }

    .skillsContainer {
        .skills {
            width: 100%;
        }
    }

} // END OF MAX-WIDTH 800PX

@media (max-width: 600px) {

    .headerNavContainer {
        display: none;
    }

    .aboutPicInfoContainer {
        .aboutPic {
            // text-align: center;
            display: none;
        }
        .aboutInfo {
            width: 80%;
            margin-top: -20px;
        }
    } 
} // END OF MAX-WIDTH 600PX