// Shadows & Roboto

// <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Fredericka+the+Great|Karla:400,400i,700,700i|Open+Sans+Condensed:300,700|Special+Elite"
//         rel="stylesheet">

// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Karla', sans-serif;
// font-family: 'Special Elite', cursive;
// font-family: 'Cabin Sketch', cursive;
// font-family: 'Fredericka the Great', cursive;

html {
    font-size: 62.5%
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
}

p, a, i, li, label, input, textarea, button {
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;

}

.boldFont {
    font-weight: bold;
}

// ===============
// NAME FONT
// ===============


.headerInfoContainer {
    .nameFont {
        font-family: 'Cabin Sketch', cursive;
        font-size: 6rem;
        color: $hightlightColour;
    }
}

// ===============
// NAVIGATION
// ===============

.headerNav {
    text-transform: uppercase;
}

// ===============
// SECTION
// ===============

.sectionTitle {
    color: $hightlightColour;
    font-size: 3rem;
    font-weight: 700;
}

// ===============
// PORTFOLIO 
// ===============

.portfolio {

    h4 {
        font-size: 1.2rem;
        text-transform: uppercase;
        // color:
    }

    h3 {
        font-size: 1.8rem;
        // line-height: 1rem;
        // color: $hightlightColour;
    }

    .portfolioTool {
        color: $hightlightColour;
    }
    
}

// ===============
// CONTACT
// ===============
    .eachSkill {
        font-weight: bold;
    }

// ===============
// CONTACT
// ===============

label {
    font-weight: bold;
}

// ===============
// CONTACT
// ===============

.secondFooterContainer p {
    font-size: 1.2rem;
}